.text-justify {
    text-align: justify;
}

img {
    border-radius: 50%;
    border:2px solid black ;
    position: relative;
    z-index: 10;
    margin-top: 3vh;
    margin-left: 2vw;
}

.img-recuadro {
    width: 7vw;
    height: 35vh;
    margin-top: 13px;
    background-color: blue;
    border:2px solid black ;
    position: absolute;
}


.nombreProfesion {
    z-index: 10;
    position: relative;
    margin-top:2vh;
} 
/* .nombreProfesion:hover{
background-color:gainsboro ;
} */
.contact {
    list-style: none;
}
.habilidades{
    margin-top: 3vh;
}
.bottonArriba{
    background-color: rgb(2, 9, 114);
    width:4rem;
    height: 4rem;
    border-radius: 10%;
    padding:1rem;
    margin-left:70%;
}
.bottonArriba:hover{
    background-color: blue;
}
